<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>Angular REDCap demo!</h1>
</div>

<div>
  <mat-card class="login-card">
    <mat-card-header>
      <h1 *ngIf="!isLoggedIn">Please log in</h1>
      <h1 *ngIf="isLoggedIn">Welcome!</h1>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="isLoggedIn">
        <p>{{ user.email }}</p>
        <p>{{ user.uid }}</p>
        <button mat-raised-button (click)="logout()">Log out</button>
      </div>
      <div *ngIf="!isLoggedIn" fxLayout="column" fxLayoutAlign="space-between">
        <mat-form-field>
          <input matInput type="email" placeholder="Email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="pass">
        </mat-form-field>
        <button mat-raised-button (click)="login()">Log in</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div>
  <h3>Test area for function</h3>
  <button mat-raised-button class="mat-primary" (click)="testAuthFunction()">Test Functions</button>
  <div>
    <textarea>{{authText}}</textarea>
  </div>
</div>

<div>
  <h3>Test area for get project data</h3>
  <button mat-raised-button class="mat-primary" (click)="testProjectDataFunction()">Get Fields</button>
<!--  <div>-->
<!--    <textarea>{{projectData}}</textarea>-->
<!--  </div>-->
  <p>Field objects:</p>
  <ul>
    <li *ngFor="let field of projectFields">
      {{field.fieldLabel}}: {{field.fieldType}}
    </li>
  </ul>
</div>

<div *ngFor="let field of projectFields">
  <rcap-field [field]="field"></rcap-field>
</div>

<router-outlet></router-outlet>
