<mat-toolbar class="mat-primary">
  <span>Genetic Preferences Tool</span>
</mat-toolbar>

<div>
  <mat-card class="login-card">
    <mat-card-header>
      <h1 *ngIf="!isLoggedIn">Please log in</h1>
      <h1 *ngIf="isLoggedIn">Welcome!</h1>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="isLoggedIn">
        <p>{{ user.email }}</p>
        <p>{{ user.uid }}</p>
        <button mat-raised-button (click)="logout()">Log out</button>
      </div>
      <div *ngIf="!isLoggedIn" fxLayout="column" fxLayoutAlign="space-between">
        <mat-form-field>
          <input matInput type="email" placeholder="Email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="pass">
        </mat-form-field>
        <button mat-raised-button (click)="login()">Log in</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <button mat-raised-button class="mat-primary" (click)="testProjectDataFunction()">Get Fields</button>
  <button mat-raised-button class="mat-primary" (click)="getValues()">Load Values</button>
  <button mat-raised-button class="mat-primary" (click)="submit()">Submit</button>
</div>

<div *ngFor="let field of fs.fields">
  <rcap-field [field]="field"></rcap-field>
</div>

<router-outlet></router-outlet>
